body {
    margin: 0;
    overflow: hidden;
    background-color: #87CEEB; /* Céu claro */
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid #000;
    background: #7CFC00; /* Grama */
}
